.article-root{
  background: #1d1d1d;
}

.article-container {
  display: flex;
  flex-direction: row;
}

.article-content {
  padding: 2rem;
  overflow-y: auto;
  flex-grow: 1;
  background-color: #1d1d1d;
  color: #e6e6e6;
  font-family: sans-serif;
  line-height: 1.4;
  min-height: calc(100vh - 2rem);

  > * + * {
    margin-top: 0.75em;
  }
}

button {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.8);
  border: 2px solid #1d1d1d;
  border-radius: 0.4em;
  padding: 0.5rem 1rem;
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.2);
  }
}