.menu-bar {
  position: fixed;
  width: 190px;
  height: 275px;

  padding: 1rem;
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  z-index: 999;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;

  .drag-handle{
    cursor: pointer;
  }

  .menu-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  button {
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }

    &.is-active {
      background-color: rgba(255, 255, 255, 0.3);
    }

    &:disabled {
      background-color: rgba(255, 255, 255, 0.1);
      cursor: not-allowed;
    }
  }
}
