.header-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #2c2c2c;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  color: #fff;

  .header-left {
    display: flex;
    align-items: center;
    justify-content: center;
    .header-title {
      font-weight: bold;
      font-size: 1.8rem;
      color: #ffcc00;
      cursor: pointer;
      font-family: 'Comic Sans MS', cursive, sans-serif;
      margin-left: 8px;
    }
    .header-logo {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }

  .header-right {
    margin-right: 50px;
  }

  .header-edit-button {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.9); 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    .header-edit-icon {
      width: 24px;
      height: 24px;
      margin-right: 4px;
    }

    &:hover {
      background-color: #121212;
    }
  }

  .header-publish-button {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    background-color: #ffcc00;
    color: #2c2c2c;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    .header-publish-icon {
      width: 25px;
      height: 25px;
      margin-right: 4px;
    }

    &:hover {
      background-color: #ffdd33;
    }
  }
}
